<!doctype html>
<html lang="en">

<head>
    <title>My Flask App</title>
</head>

<body>
    {% include 'header.html' %}
    {% if items is defined and items %}
    <h1>Items List</h1>
    <ul>
        {% for item in items %}
        {% if item == '' or item is none %}
        <li>Empty</li>
        {% else %}
        <li>{{ item }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <h1>Welcome to My Flask App</h1>
    <p>This is the home page of the application.</p>
    {% endif %}
    {% include 'footer.html' %}
</body>

</html>